body,html{
  overflow:hidden;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}

*{
	transition:all 1.6s  linear;
}
#sun.animated{
	opacity:0;
	transform:translatex(29vw) translatey(-77vh);
}

#moon.notAnimated{
	transform:translatex(-29vw) translatey(77vh);
	opacity:0;
}

#svgEditorBackground.animated{
	fill:#252d2f !important;
}
#moon_arc2.animated{
	fill:#252d2f !important;
}
#moon_arc3.animated{
	fill:lightblue !important;
}

[href='#window'].lightIsOn{
	fill:yellow !important;
}
#svgEditorBackground2.animated{
	fill:lightblue !important;
}

#sun2{
	
	transform:translatex(+29vw) translatey(-77vh);
}
#sun2.animated{
	
	transform:translatex(-0.1vw) translatey(+0.1vh);

}

#moon2.animated{
	opacity:0;
	transform:translatex(-29vw) translatey(+77vh);
	
}

.path {
  stroke: black!important;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 0.5s linear forwards;
  animation-delay: 0.5s;
}

.path2 {
  stroke: black!important;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 0.5s linear forwards;
  animation-delay: 1s;
}
#first_dude,#second_dude,#table_chevet{
	-webkit-filter: drop-shadow(17px 15px 10px rgba(0,0,0,0.7));
filter: drop-shadow(17px 15px 10px rgba(0,0,0,0.7));
}
.path3 {
  stroke: black!important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.5s linear forwards;
  animation-delay: 1.5s;
}


.path4 {
  stroke: black!important;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 0.5s linear forwards;
  animation-delay: 0.5s;
}

.path5 {
  stroke: black!important;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: dash 0.5s linear forwards;
  animation-delay: 1s;
}

.path6 {
  stroke: black!important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.5s linear forwards;
  animation-delay: 1.5s;
}

.path7 {
  stroke: black!important;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 0.5s linear forwards;
  animation-delay: 4s;
}


.path8 {
  stroke: black!important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.5s linear forwards;
  animation-delay: 4.5s;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#first_dude,#second_dude,#table_chevet{
	-webkit-filter: drop-shadow(17px 15px 10px rgba(0,0,0,0.7));
filter: drop-shadow(17px 15px 10px rgba(0,0,0,0.7));
}




