body,html{
  overflow:hidden;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
.animationContainer{
  width:100vw;
  height:100vh;
  background-color:grey;
  transition:background-color 0.5s linear;
}

.isDay{
  background-color:#b3b3d8;
}
.st11,.stars{
   transition: all 4s linear;
}

svg{
 fill: #DDE8E8;
 stroke: #DDE8E8;
 stroke-width: 0.5;
 stroke-dasharray: 2566;
 stroke-dataoffset: 2566;
}
svg path{
  fill:none;
}
[id*='cloud']{
  position: absolute;
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 );
}
#cloud1{
  transform:scale(1);
  left:50%;
  top:50%;
  animation-duration: 13s !important;
}
#cloud2{
    transform:scale(1.25);
  left:40%;
  top:37%;
  animation-duration: 17s !important;
}
#cloud3{
    transform:scale(0.5);
  left:70%;
  top:23%;
  animation-duration: 15s !important;
}
#cloud4{
  left:10%;
  top:13%;
  animation-duration: 14s !important;
}
.translateLeftInfinite{
  animation: translateLeftInfinite 15s infinite linear;
  transition: all 0.5s linear;
}

@keyframes translateLeftInfinite {
    0% {}
    25%{left:-10%;}
    26%{opacity:0;}
    55%{left:100%;}
    56%{opacity:0;}
    100% {}
}



/************NEW***************/


.stars {fill: #F2F2F2;}
	.st_yellow{fill:#F9B233;}
	.st_orange{fill:#FFDE00;}
.st0{fill:#1A1A1A;}
	.st1{fill:#808080;}
	.st2{fill:none;stroke:#F2F2F2;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:5;}
	.st3{fill:#A67C52;}
	.st4{fill:#603813;}
	.st5{fill:#8CC63F;}
	.st6{fill:#39B54A;}
	.st7{fill:#C7B299;}
	.st8{fill:#534741;}
	.st9{fill:none;stroke:#534741;stroke-width:2;stroke-miterlimit:10;}
	.st10{fill:#ED1C24;}
	.st11{fill:#F2F2F2;}
  .st11b{fill:#F2F2F2;}
	.st12{fill:#736357;}
	.st13{fill:#333333;}
	.st14{fill:#FCEE21;}
	.st15{fill:#9DC69B;}
	.st16{fill:#EFECD5;}
	.st17{fill:#4D4D4D;}
	.st18{fill:#E6E6E6;}
	.st19{fill:#998675;}


.st000{fill:#C49A6C;}
.st100{fill:#754C29;}
.st200{fill:#8B5E3C;}
.st300{fill:#A97C50;}
.st400{fill:#E6E6E6;}
.st500{fill:#3C2415;}
.st600{fill:#FFFFFF;}
.st700{fill:#603913;}
.st800{fill:#BE1E2D;}
.st900{fill:#9E1D21;}
.st1000{opacity:0.5;fill:#FFFFFF;}
.st1100{fill:#414042;}
.st1200{fill:#414042;stroke:#BCBEC0;stroke-miterlimit:10;}
.st1300{fill:#BCBEC0;}
.st1400{fill:#F7941E;}
.st1500{fill:#FFFFFF;stroke:#BE1E2D;stroke-width:3;stroke-miterlimit:10;}
.st1600{fill:#FFFFFF;stroke:#BE1E2D;stroke-miterlimit:10;}







.visible{
  fill-opacity:1 !important;
  opacity:1;
}
.invisible{
  fill-opacity:0 !important;
}

.invisible path{
stroke:transparent !important;
}


.wrap .bg {
  width: 450px;
  padding: 20px;
}

.wrap .sun {
  width: 98px;
  height: 98px;
  position: absolute;
  top: 17px;
  right: 367px;
  animation: rotate-sun 60s infinite linear;
  -webkit-animation: rotate-sun 60s infinite linear;
  -moz-animation: rotate-sun 60s infinite linear;

  fill-opacity:0;
  transition:fill-opacity 0.7 linear !important;
}

.wrap .cloud {
  position: absolute;
  width: 120px;
  height: 70px;
}

.cloud.cloud-1 {
  top: 150px;
  left: 120px;
  fill-opacity:0;
  transition:fill-opacity 0.7 linear !important;
}
.cloud.cloud-2 {
  top: 40px;
  left: 150px;
  animation: animate-cloud 14s infinite linear;
  -webkit-animation: animate-cloud 14s infinite linear;
  -moz-animation: animate-cloud 14s infinite linear;

  fill-opacity:0;
transition:fill-opacity 0.7 linear !important;
}
.cloud.cloud-3 {
  top: 111px;
right: 216px;
  animation: animate-cloud 8s infinite linear;
  -webkit-animation: animate-cloud 8s infinite linear;
  -moz-animation: animate-cloud 8s infinite linear;

  fill-opacity:0;
    transition:fill-opacity 0.7 linear !important;
}

.rain {
  position: absolute;
  width: 20px;
  height: 120px;
  overflow: none;
  top: 170px;
  left:140px;
  opacity:0;
  fill-opacity:0;
transition:all 0.7 linear !important;
}
.drop {
  position: inherit;
  top: calc(50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: powderblue;
  animation: raining 1s infinite;
}

.drop-1::before,
.drop-2::before,
.drop-3::before,
.drop-4::before,
.drop-5::before {
  content: '';
  position: relative;
  top: -37px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 23px solid powderblue;
}

.drop-1 {
  left: calc(50% - 10px);
  animation-delay: 1s;
}

.drop-2 {
  left: calc(50% + 5px);
  animation-delay: .5s
}

.drop-3 {
  left: calc(50% + 20px);
  animation-delay: .75s;
}

.drop-4 {
  left: calc(50% + 35px);
  animation-delay: 0.25s;
}

.drop-5 {
  left: calc(50% + 50px);
  animation-delay: .4s;
}

@keyframes rotate-sun {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

@keyframes animate-cloud {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(20%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes raining {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(70px);
  }
}
